Lab 7 Extra Practical:
To apply Support Vector Machine for Regression on Students Performance Dataset and analyze the impact of different kernels on model accuracy.

In [ ]:
#BHAVANA BAMBAL(CS23131)

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
path ="/content/drive/MyDrive/ML_DATASET/Student_Performance_dataset_5000.csv"
df=pd.read_csv(path)
df.head(5)

,student_id,age,gender,academic_level,study_hours,self_study_hours,online_classes_hours,social_media_hours,gaming_hours,sleep_hours,...,exercise_minutes,caffeine_intake_mg,part_time_job,upcoming_deadline,internet_quality,mental_health_score,focus_index,burnout_level,productivity_score,exam_score
0,1,18,Other,High School,7.64,1.56,2.20,3.05,2.19,6.52,...,81,38,1,0,Good,10,43.05,31.77,73.65,50.16
1,2,18,Other,High School,2.21,2.22,2.10,1.65,2.55,5.97,...,111,339,0,0,Good,3,15.92,37.00,13.70,1.00
2,3,22,Male,High School,3.45,0.00,0.29,1.34,2.08,8.39,...,68,266,0,1,Good,8,27.39,34.37,45.15,18.30
3,4,17,Other,High School,5.75,2.08,3.01,2.27,2.20,6.31,...,113,480,1,1,Poor,3,22.31,77.31,20.92,9.37
4,5,19,Other,High School,6.83,1.72,3.33,2.65,0.70,8.01,...,121,24,1,0,Good,8,38.11,39.53,59.23,27.81

In [ ]:
df.shape

(5000, 21)

In [ ]:
df.columns

Index(['student_id', 'age', 'gender', 'academic_level', 'study_hours',
       'self_study_hours', 'online_classes_hours', 'social_media_hours',
       'gaming_hours', 'sleep_hours', 'screen_time_hours', 'exercise_minutes',
       'caffeine_intake_mg', 'part_time_job', 'upcoming_deadline',
       'internet_quality', 'mental_health_score', 'focus_index',
       'burnout_level', 'productivity_score', 'exam_score'],
      dtype='object')

In [ ]:
df.isnull().any().any()

np.False_

In [ ]:
X = df.drop(columns=['exam_score'])
y = df['exam_score']

In [ ]:
X.head()

,student_id,age,gender,academic_level,study_hours,self_study_hours,online_classes_hours,social_media_hours,gaming_hours,sleep_hours,screen_time_hours,exercise_minutes,caffeine_intake_mg,part_time_job,upcoming_deadline,internet_quality,mental_health_score,focus_index,burnout_level,productivity_score
0,1,18,Other,High School,7.64,1.56,2.20,3.05,2.19,6.52,6.47,81,38,1,0,Good,10,43.05,31.77,73.65
1,2,18,Other,High School,2.21,2.22,2.10,1.65,2.55,5.97,6.05,111,339,0,0,Good,3,15.92,37.00,13.70
2,3,22,Male,High School,3.45,0.00,0.29,1.34,2.08,8.39,7.62,68,266,0,1,Good,8,27.39,34.37,45.15
3,4,17,Other,High School,5.75,2.08,3.01,2.27,2.20,6.31,11.67,113,480,1,1,Poor,3,22.31,77.31,20.92
4,5,19,Other,High School,6.83,1.72,3.33,2.65,0.70,8.01,10.02,121,24,1,0,Good,8,38.11,39.53,59.23

In [ ]:
X = pd.get_dummies(X,dtype = int)

In [ ]:
X.head()

,student_id,age,study_hours,self_study_hours,online_classes_hours,social_media_hours,gaming_hours,sleep_hours,screen_time_hours,exercise_minutes,...,productivity_score,gender_Female,gender_Male,gender_Other,academic_level_High School,academic_level_Postgraduate,academic_level_Undergraduate,internet_quality_Average,internet_quality_Good,internet_quality_Poor
0,1,18,7.64,1.56,2.20,3.05,2.19,6.52,6.47,81,...,73.65,0,0,1,1,0,0,0,1,0
1,2,18,2.21,2.22,2.10,1.65,2.55,5.97,6.05,111,...,13.70,0,0,1,1,0,0,0,1,0
2,3,22,3.45,0.00,0.29,1.34,2.08,8.39,7.62,68,...,45.15,0,1,0,1,0,0,0,1,0
3,4,17,5.75,2.08,3.01,2.27,2.20,6.31,11.67,113,...,20.92,0,0,1,1,0,0,0,0,1
4,5,19,6.83,1.72,3.33,2.65,0.70,8.01,10.02,121,...,59.23,0,0,1,1,0,0,0,1,0

In [ ]:
x =df.iloc[:, :-1]
y =df.iloc[:, -1]

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,train_size=0.7,test_size=0.3,random_state=42)
X_train.shape,X_test.shape

((3500, 26), (1500, 26))

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [ ]:
X_train

array([[-0.47189175, -1.23291707, -0.32898634, ..., -0.70045009,
         1.37310163, -0.69275929],
       [-0.28001648, -1.58340519,  1.3038051 , ..., -0.70045009,
         1.37310163, -0.69275929],
       [ 1.34010849,  1.22049978,  0.838076  , ..., -0.70045009,
        -0.72827821,  1.44350284],
       ...,
       [ 0.40166401, -1.23291707,  1.09011763, ..., -0.70045009,
        -0.72827821,  1.44350284],
       [ 0.87611921,  0.16903541, -0.21940302, ..., -0.70045009,
        -0.72827821,  1.44350284],
       [-1.15566543, -0.88242895, -0.32898634, ..., -0.70045009,
        -0.72827821,  1.44350284]])

In [ ]:
y_train

1840    10.53
2115    35.73
4437    25.82
1146    20.95
2486    27.36
        ...
4426    10.57
466     23.77
3092    25.68
3772    17.15
860      2.81
Name: exam_score, Length: 3500, dtype: float64

In [ ]:
X_test

array([[-7.08421624e-01,  1.69035414e-01, -1.57275701e+00, ...,
        -7.00450087e-01,  1.37310163e+00, -6.92759290e-01],
       [ 4.86135175e-02,  5.19523535e-01,  6.95617685e-01, ...,
         1.42765347e+00, -7.28278213e-01, -6.92759290e-01],
       [ 9.53613097e-02,  8.70011656e-01, -8.71423769e-01, ...,
        -7.00450087e-01,  1.37310163e+00, -6.92759290e-01],
       ...,
       [-4.73984935e-01, -1.58340519e+00,  5.58638537e-01, ...,
        -7.00450087e-01,  1.37310163e+00, -6.92759290e-01],
       [-9.51185002e-02,  8.70011656e-01, -2.36386873e-04, ...,
        -7.00450087e-01, -7.28278213e-01,  1.44350284e+00],
       [-4.21655317e-01,  8.70011656e-01,  7.17534349e-01, ...,
        -7.00450087e-01, -7.28278213e-01,  1.44350284e+00]])

In [ ]:
y_test

1501    27.21
2586     4.22
2653    12.14
1055    32.94
705     22.28
        ...
3563    33.39
1538    21.31
1837     2.80
2380    20.81
1912    13.43
Name: exam_score, Length: 1500, dtype: float64

In [ ]:
from sklearn.svm import SVR
from sklearn.metrics import r2_score

svr = SVR()
svr.fit(X_train, y_train)
y_pred = svr.predict(X_test)

print(f'Model R2 Score with default hyperparameters:\n{r2_score(y_test, y_pred):.4f}')

Model R2 Score with default hyperparameters:
0.7992

In [ ]:
svr=SVR(C=100.0)

In [ ]:
from sklearn.svm import SVR
from sklearn.metrics import r2_score

# Instantiate SVR with C=100.0, similar to what was attempted with SVC
svr = SVR(C=100.0)
svr.fit(X_train, y_train)
y_pred = svr.predict(X_test)

print(f'Model R2 Score with C=100.0:\n{r2_score(y_test, y_pred):.4f}')

Model R2 Score with C=100.0:
0.7378

In [ ]:
from sklearn.metrics import r2_score
print('Model R2 score with rbf kernel and C=100.0: {0:.4f}'.format(r2_score(y_test,y_pred)))

Model R2 score with rbf kernel and C=100.0: 0.7378

In [ ]:
from sklearn.svm import SVR
from sklearn.metrics import r2_score

linear_svr = SVR(kernel='linear', C=1.0)
linear_svr.fit(X_train, y_train)
y_pred = linear_svr.predict(X_test)
print('Model R2 score with linear kernel and C=1.0: {0:.4f}'.format(r2_score(y_test, y_pred)))

Model R2 score with linear kernel and C=1.0: 0.8190

In [ ]:
from sklearn.svm import SVR
from sklearn.metrics import r2_score

linear_svr = SVR(kernel='linear', C=100.0)
linear_svr.fit(X_train, y_train)
y_pred = linear_svr.predict(X_test)
print('Model R2 score with linear kernel and C=100.0: {0:.4f}'.format(r2_score(y_test, y_pred)))

Model R2 score with linear kernel and C=100.0: 0.8189

In [ ]:
from sklearn.svm import SVR
from sklearn.metrics import r2_score

poly_svr=SVR(kernel='poly',C=1.0)
poly_svr.fit(X_train,y_train)
y_pred=poly_svr.predict(X_test)
print('Model R2 score with polynomial kernel and C=1.0: {0:.4f}'.format(r2_score(y_test,y_pred)))

Model R2 score with polynomial kernel and C=1.0: 0.7669

In [ ]:
from sklearn.svm import SVR
from sklearn.metrics import r2_score

poly_svr=SVR(kernel='poly',C=100.0)
poly_svr.fit(X_train,y_train)
y_pred=poly_svr.predict(X_test)
print('Model R2 score with polynomial kernel and C=100.0: {0:.4f}'.format(r2_score(y_test,y_pred)))

Model R2 score with polynomial kernel and C=100.0: 0.6015